In [3]:
L=[50,10,20,80,60]
print(max(L))
print(min(L))
print(len(L))
for x in L:
    print(x,end="\t")

80
10
5
50	10	20	80	60

In [9]:
Names=['張三','李四','王五','陳六']
Sex=[True,False,False,True]
Title=['女士','先生']
for i,name in enumerate(Names):
    #print(i,Sex[i],int(Sex[i]),Title[int(Sex[i])],name)
    print(name+" "+Title[int(Sex[i])])

張三 先生
李四 女士
王五 女士
陳六 先生

In [12]:
L=[10,20,30,40]
print(L)
L[1]=15
print(L)
L.append(95)
print(L)

[10, 20, 30, 40]
[10, 15, 30, 40]
[10, 15, 30, 40, 95]

In [13]:
L=[10,20,30,40]
M=[]
for x in L:
    M.append(x+5)
print(M)

[15, 25, 35, 45]

In [ ]:
Names=['張三','李四','王五','陳六']
Sex=[True,False,False,True]
Title=['女士','先生']
NewName=[]

寫一段程式==>產生一個 NewName list
NewName=['張三先生','李四女士','王五女士','陳六先生']

In [17]:
Names=['張三','李四','王五','陳六']
Sex=[True,False,False,True]
Title=['女士','先生']
NewName=[]
for i,name in enumerate(Names):
    #print(name+Title[int(Sex[i])])
    NewName.append(name+Title[int(Sex[i])])
print(NewName)

['張三先生', '李四女士', '王五女士', '陳六先生']

In [18]:
L=[10,20,30,40,50]
S=0
for x in L:
    S=S+x
print("SUM=",S)

SUM= 150

In [20]:
L=[10,20,30,40,50,80]
largest=-1
smallest=10000
for x in L:
    if x>largest:
        largest=x
    if x<smallest:
        smallest=x
print("MAX=",largest)
print("MIN=",smallest)

MAX= 80
MIN= 10

In [27]:
L=[25,18,5,15,3]
for i in range(0,4):
    for j in range(i+1,5):
        if L[j]<L[i]:
            #L[i],L[j]=L[j],L[i]  #對調 只有python可以
            T=L[i]
            L[i]=L[j]
            L[j]=T
print(L)

[3, 5, 15, 18, 25]

In [31]:
#practice
Names=['張三','李四','王五','陳六','趙七']
Pays=[42000,31000,27000,45000,39000]
for i in range(0,4):
    for j in range(i+1,5):
        if Pays[j]<Pays[i]:
            Pays[i],Pays[j]=Pays[j],Pays[i]
            Names[i],Names[j]=Names[j],Names[i]
for x,name in enumerate(Names):
    print(name,Pays[x],"元")

王五 27000 元
李四 31000 元
趙七 39000 元
張三 42000 元
陳六 45000 元

In [32]:
L=[25,18,5,15,3] #List專用函數 排序
L.sort()
print(L)

[3, 5, 15, 18, 25]

In [33]:
L=[10,20,10,20,20,20] #List專用函數 計算出現次數
print(L.count(20))
print(L.count(10))

4
2

In [34]:
#將字串轉成字元 用於自然語言
S="I am a student. You are a teacher! we are in class."
L=list(S)
print(L)

['I', ' ', 'a', 'm', ' ', 'a', ' ', 's', 't', 'u', 'd', 'e', 'n', 't', '.', ' ', 'Y', 'o', 'u', ' ', 'a', 'r', 'e', ' ', 'a', ' ', 't', 'e', 'a', 'c', 'h', 'e', 'r', '!', ' ', 'w', 'e', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 'c', 'l', 'a', 's', 's', '.']

In [35]:
#將字串轉成單字 用於自然語言
S="I am a student. You are a teacher! we are in class."
L=S.split(" ")
print(L)

['I', 'am', 'a', 'student.', 'You', 'are', 'a', 'teacher!', 'we', 'are', 'in', 'class.']

In [37]:
#in 屬於 /not in  
S="I am a student. Welcome!"
print("I" in S)
print("b" in S)

True
False

In [39]:
S="I am a student. Welcome!"
Exclude="!."
T=""
M=[]
for s in S:
    if s not in Exclude:
        T=T+s
        M.append(s)
print(T)
print(M)
L=T.split(" ")
print(L)

I am a student Welcome
['I', ' ', 'a', 'm', ' ', 'a', ' ', 's', 't', 'u', 'd', 'e', 'n', 't', ' ', 'W', 'e', 'l', 'c', 'o', 'm', 'e']
['I', 'am', 'a', 'student', 'Welcome']

In [ ]:
Practice:
S="I like this. Thank you! You are Welcome!"
抓出大寫字母放入 List Big 中: Big=['I',"T","Y","W"]
抓出小寫字母放入 List Small 中: Big=['l',"i","k","e"]
Note: 字母轉成 ASCII: ord(字母)
Note: ord('A'):65, ord('Z')=90, ord('a')=97, ord('z')=122

In [42]:
#practice
S="I like this. Thank you! You are welcome!"
Big=[]
Small=[]
for s in S:
    if 65<=ord(s)<=90:
        Big.append(s)
    if 97<=ord(s)<=122:
        Small.append(s)
print(Big)
print(Small)

['I', 'T', 'Y']
['l', 'i', 'k', 'e', 't', 'h', 'i', 's', 'h', 'a', 'n', 'k', 'y', 'o', 'u', 'o', 'u', 'a', 'r', 'e', 'w', 'e', 'l', 'c', 'o', 'm', 'e']

In [46]:
S="ABC"
for s in range(0,3):
    print(S[s])

A
B
C

In [7]:
#猜數字
Ans="123"
User=input("請輸入三位數:")
Score=""
for i in range(0,len(User)):
    if User[i]==Ans[i]:
        Score=Score+"A"
    elif User[i] in Ans:
        Score=Score+"B"
print("您的答案為:",str(Score.count('A'))+"A"+str(Score.count('B'))+"B")

請輸入三位數:123
您的答案為: 3A0B